main {
  position: relative;
  top: -40px;
}

.myphoto {
  width: 80px;
  height: 80px;
  border-radius: 30%;
}

.friendphoto {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.friends__header {
  padding: 20px;
  padding-bottom: 10px;
}

.myprofile {
  display: flex;
  align-items: center;
  height: 100px;
}

.plusfriend {
  padding: 0px 20px 10px 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.friendlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend__column {
  display: flex;
  align-items: center;
}

.friend__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.friend__name {
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}

.friend__status {
  padding-left: 10px;
  font-size: 15px;
  color: gray;
}

ul {
  padding: 10px 20px;
}

.line1 {
  margin: 0px 20px;
  height: 10px;
  border-top: 1px solid lightgray;
}

.line2 {
  height: 10px;
  border-top: 1px solid lightgray;
}

h5 {
  padding-bottom: 10px;
  color: gray;
}

.friend__now-listening {
  font-size: 15px;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid yellowgreen;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: yellowgreen;
}

.friend__now-listening > span {
  color: gray;
}
